<div style="background-color: #f8f8f8; min-height: 91vh;">
      <div style="padding-top:10px;"></div>
  
      <div style="margin-top: 10px;" class="child">
        <div class="row">
          <div col span="8">
            <img class="profile" style="height: 130px; width: 200px; border-radius: 10px;" [src]="processedImg" alt="profile">
          </div>
  
          <div col span="6">
            <h2 style="cursor: pointer; color: #108ee9;">{{hotel.name}}</h2>
            <p>{{hotel.description}}</p>
  
            <hr>
            <h5>Price :<b>${{hotel.price}}</b> Type : - <b>{{hotel.categoryName}}</b></h5>
  
            <hr>
  
            <mat-form-field>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="fromDate" placeholder="Start date">
                <input matEndDate formControlName="toDate" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
  
            <p>Selected range: {{range.value | json}}</p>
  
            <div class="button">
              <button mat-raised-button (click)="bookAHotel(range.value)" color="primary">Book Hotel</button>
            </div>
          </div>
        </div>
      </div>
</div>
  